soot-infoflow/jimpleCode/
soot-infoflow-summaries/build/
soot-infoflow-summaries/target/
benchmark/
struts/
android-dir/
jasmine/sootOutput/
/.metadata
/.recommenders
.idea/
*.iml
*.gexf
target/
jasmine/conf/spring
